@model Blog
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kara Şovalye</title>
    <link href="~/filmblog.templete/css/all.css" rel="stylesheet" />
    <link href="~/filmblog.templete/css/nav.css" rel="stylesheet" />
</head>
<body>

<section id="mainPart">
  <div class="storyLine">
    <h1>@Model.Title</h1>
    @Model.Content
  </div>
<br><br>
<div class="slideshow-container">

<div class="mySlides">
  <div class="numbertext">1 / 3</div>
                <img src="@Url.Content(@Model.img1)">
</div>

<div class="mySlides">
  <div class="numbertext">2 / 3</div>
                <img src="@Url.Content(@Model.img2)">
</div>

<div class="mySlides">
  <div class="numbertext">3 / 3</div>
                <img src="@Url.Content(@Model.img3)">
</div>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>
        <partial name="~/Views/_partialComment.cshtml" />
</section>
<br><br><br><br><br>
    <partial name="~/Views/_SidebarPartial.cshtml" />
    <script src="~/filmblog.templete/js/script.js"></script>

</body>
</html> 
